{% macro pagination_render(pagination, options) %}


<ul class="pagination pull-right">
  {% set total_pages_count = ((pagination.total | int) / (pagination.per_page | int)) | ceil  %}
  {% set pages_count = total_pages_count %}

  {% if options.pages_count and pages_count > options.pages_count %}
    {% set pages_count = options.pages_count %}
  {% elseif pages_count > 8 %}
    {% set pages_count = 8 %}
  {% endif %}

  {% set page = pagination.page | int %}

  {% if pages_count > 1 %}

    {% set min_page = 1 %}

    {% if page - (pages_count / 2) >= 1 %}
    {% set min_page = page - (pages_count / 2) | int %}
    {% endif %}

    {% set max_page = total_pages_count %}

    {% if page + (pages_count / 2) <= total_pages_count %}
    {% set max_page = page + (pages_count / 2) | int %}
    {% endif %}


    {% if pages_count % 2 == 0 %}
    {% set max_page = max_page - 1 %}
    {% endif %}

    {#we need to extend#}
    {% if max_page - min_page + 1 < pages_count %}
      {% set diff = pages_count - max_page + min_page - 1 %}
      {#diff: {{ diff }}
      <br />#}
      {% if min_page > 1 %}
      {% set min_page = min_page - diff %}
      {% endif %}

      {% if max_page < total_pages_count %}
      {% set max_page = max_page + diff %}
      {% endif %}

    {% endif %}

    {% if min_page < 1 %}
    {% set min_page = 1 %}
    {% endif %}

    {% if max_page > total_pages_count %}
    {% set max_page = total_pages_count %}
    {% endif %}

    {% set numbers = range(min_page, max_page + 1) %}

    {#{{ numbers | debug }}
    <br />#}

    {#first#}
    {% if pagination.page > 1 %}
      <li><a class="pagination-btn" href="{{ url | build({page: 1}) }}" onclick="gotoPage({{1}}); return false;">&laquo;&laquo; First </a></li>
    {% endif %}

    {#prev#}
    {% if pagination.page > 1 %}
      <li><a class="pagination-btn" href="{{ url | build({page: page - 1}) }}" onclick="gotoPage({{page - 1}}); return false;">&laquo; Prev </a></li>
    {% endif %}


    {% for number in numbers %}
      {% set number = number | ceil %}
      <li {% if (not page and number == 1) or number == pagination.page %}class="active"{% endif %}><a href="{{ url | build({page: number}) }}" onclick="gotoPage({{number}}); return false;">{{ number }}</a></li>
    {% endfor %}

    {#next#}
    {% if page < total_pages_count %}
    <li><a class="pagination-btn" href="{{ url | build({page: page + 1}) }}" onclick="gotoPage({{page + 1}}); return false;">Next &raquo;</a></li>
    {% endif %}

    {#last#}
    {% if page < total_pages_count %}
    <li><a class="pagination-btn" href="{{ url | build({page: total_pages_count}) }}" onclick="gotoPage({{total_pages_count}}); return false;">Last &raquo;&raquo;</a></li>
    {% endif %}
    {#<li><a class="btn pull-left btn-default"  href="{{ url | build({per_page: 10000}) }}" onclick="showAmount(10000); return false;">Show all</a></li>#}
  {% endif %}

</ul>
{% endmacro %}

<div class="clearfix"></div>

<select id="select_per_page" name="select_per_page" class="form-control pull-left" style="width: 200px; margin-top: 0px;">
  <option value="">Items per page</option>
  {% for v in [10,20,30, 50, 100, 200, 500, 1000] %}
  <option {% if pagination.per_page == v %}selected{% endif %} value="{{ v }}">{{ v }}</option>
  {% endfor %}
</select>


<div class="pagination-bar text-center">
  {{ pagination_render(pagination, {pages_count: 8}) }}
</div>

<br />
<div class="clearfix"></div>
